{
    "directories": {
        "project": "/Users/kylestevenson/projects/updater/patterns/",
        "revisions": "/Users/kylestevenson/projects/updater/patterns/revisions/",
        "logs": "/Users/kylestevenson/projects/updater/patterns/logs/"
    }
}
